.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-weather{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    row-gap: 10px;
}

.weather-info-container{
    width: 100%;
    display: flex;
    margin-top: 70px;
    padding: 20px 18vw;
    flex-direction: column;
}


.info-weather{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.temperature{
    display: flex;
    column-gap: 30px;
    width: 230px;
}

.choose{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.choose-span{
    font-size: 21px;
    cursor: pointer;
}

.active-unit{
    font-weight: bold;
    text-decoration: underline;
}

.temperature-display{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.main-temperature{ 
    font-size: 50px;
    font-weight: bold;
}

.max-temperature{
    font-size: 18px;
}

.weather-icon{
    font-size: 58px;
}

.weather-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    margin-right: 35px;
}

.weather-status{
    font-size: 23px;
    font-weight: bold;
}


.weather-extra-container{
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.extra-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.extra-title{
    font-size: 28px;
}

.extra-info{
    width: 90px;;
    font-size: 20px;
}

.wind-container{
    width: 140px;
    display: flex;
    align-items: center;
}

.wind-icon{
    font-size: 30px;
}

.chart-container{
    display: flex;
    flex: 0.9;
    flex-direction: column;
    align-items: center;
}

.option{
    width: 200px;
    height: 30px;
    padding: 3px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.current-option{
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.option:hover{
    background-color: var(--lighter-2);
}

.option-container{
    width: 200px;
    height: 30px;
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

.option-dropdown{
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    top: 0;
    transform: translate(0, -100%);
}

.option-dropdown.active{
    opacity: 1;
    display: block;
}


.pick-option{
    font-size: 17px;
}


