.buttons-toggle-contaniner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.toggle-button{
    height: 25px;
    width: 100px;
    cursor: pointer;
    border: none;
    color: var(--font-color);
    padding: 3px 10px;
    box-sizing: content-box;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    background-color: var(--lighter-2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.local{
    background-color: var(--lighter-2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active-toggle{
    background-color: var(--lighter-1);
}