:root {
	--base-color: #101010;
	--lighter-1: #2a2a2a; /* Lighter shade */
	--lighter-2: #3f3f3f;
	--lighter-3: #5c5c5c;
	--darker-1: #0a0a0a; /* Darker shade */
	--darker-2: #060606;
	--darker-3: #030303;
	--accent-color: #575757; /* A neutral accent color */
	--font-color: #ffffff;
  }
  
.light-mode{
	--base-color: #ffffff; /* White */
	--lighter-1: #f0f0f0; /* Lighter shade */
	--lighter-2: #e0e0e0;
	--lighter-3: #d0d0d0;
	--darker-1: #cccccc; /* Darker shade */
	--darker-2: #b0b0b0;
	--darker-3: #999999;
	--accent-color: #d9d9d9; /* A neutral accent color */
	--font-color: #101010;
}



body{
	font-family: sans-serif;
	color: var(--font-color);
	background-color: var(--base-color);
	padding: 0;
	margin: 0;
}
